{
    background-color:brown;
    margin:0;
    padding:0;
    top:10;
    bottom:10;
}
p{
    font-weight: 900;
    font-family: cursive;
    color: blue;
}
p2{
    font-weight: 900;
    font-family: cursive;
    color: darkred;
}
btn{
    background-color: aqua;
}
btn{
    
}